.back {
  h2 {
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .login_list {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: $input;
    list-style: none;
    border-radius: 0 0 10px 10px;
    text-align: left;

    li {
      display: inline-block;
      padding: 8px 17px;
      border-right: 1px #fff solid;
    }

    a {
      color: #fff;
      display: block;
      text-decoration: none;
    }

    li:first-child {
      padding-left: 30px;
      padding-right: 40px;
    }

    li:last-child {
      border: none;
    }
  }

  input[type="checkbox"] { display: none; }

  input[type="checkbox"] + label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    font: 14px/20px 'Open Sans', Arial, sans-serif;
    color: #ddd;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  .captcha {
    margin-top: 18px;
    position: absolute;
    left: 80px;

    label {
      box-sizing: border-box;
      height: 20px;
      width: 100%;
    }

    input[type="checkbox"] + label:last-child { margin-bottom: 0; }

    input[type="checkbox"] + label:before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      border: 1px solid #fff;
      position: absolute;
      left: 0;
      top: 0;
      opacity: .6;
      -webkit-transition: all .12s, border-color .08s;
      transition: all .12s, border-color .08s;
    }

    input[type="checkbox"]:checked + label:before {
      width: 10px;
      top: -5px;
      left: 5px;
      border-radius: 0;
      opacity: 1;
      border-top-color: transparent;
      border-left-color: transparent;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}