$color: #5753db;
$shadow: lighten(#4c4c4c, 60%);
$text: lighten(#4c4c4c, 10%);

html, body, h1,h2,h3,h4,h5,ul,li,a,p {
  margin: 0;
  padding: 0;
  font-family: 'sans-serif', "Sans Serif";
  //font-size: 15px;
}
a {
  text-decoration: none;
}

.container_12 {
  margin-top: 30px;
}

.categories_list {
  margin-right: 30px;
  text-align: right;
  list-style: none;

  li {
    padding: 5px 0;
    padding-right: 40px;

    a {
      color: #4c4c4c;
      font-size: 16px;
    }

    &.active {
      border-right: 2px $color solid;
      a {
        color: $color;
      }
    }
  }
}

.article {
  color: #4c4c4c;
  border-top: 3px $shadow solid;
  margin-bottom: 30px;

  h2 {
    margin-top: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;

    a {
      color: #4c4c4c;

      &:hover {
        color: $text;
      }
    }
  }

  .created {
    color: $color;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .text {
    color: $text;
  }

}